/* @import 'highlight.js/styles/default.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* decorators */
.floating-dot::after {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  border-radius: 50%;
  background-color: beige;
  padding: 22px;
  z-index: -5;
}

/** highlight */
pre {
  text-align: left;
}
/* pre > code {
  font-family: 'Inconsolata', monospace !important;
  line-height: 1.5;
  font-size: 14px;
}
pre {
  background: #282c34 !important;
  border-radius: 10px;
}
code {
  font-family: 'Inconsolata', monospace !important;
  line-height: normal;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 3px;
  font-size: 85%;
  padding: 0.2em 0.4em;
}
img {
  border-radius: '10px';
} */
