@tailwind base;
@tailwind components;
@tailwind utilities;

/* decorators */
.floating-dot::after {
  content: '';
  position: absolute;
  left: 0;
  top: -5px;
  border-radius: 50%;
  background-color: beige;
  padding: 22px;
  z-index: -5;
}
